<div class="user_block">
  <p>{{ userService.user.name }}</p>
  <img [src]="userService.user.avatar" />
  <button class="btn btn-info" (click)="logout()">Выйти</button>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Кабинет</th>
          <th>Тип</th>
          <th>Статус</th>
          <th>Ваша роль</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of cabinets">
          <td>#{{ x.remote_id }}</td>
          <td>
            <p *ngIf="x.remote_type === 'general'">Обычный</p>
            <p *ngIf="x.remote_type === 'agency'">Агентский</p>
          </td>
          <td>
            <p *ngIf="x.remote_status">Активен</p>
            <p *ngIf="!x.remote_status">Неактивен</p>
          </td>
          <td>
            <p *ngIf="x.remote_role === 'admin'">Гл. Администратор</p>
            <p *ngIf="x.remote_role === 'manager'">Администратор</p>
            <p *ngIf="x.remote_role === 'reports'">Наблюдатель</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>