.user_block {
    width: 200px;
    height: auto;

    display: block;
}
.user_block p {
    display: block;
    width: 100%;
}
.user_block img {
    width: 50px;
    height: 50px;

    display: block;
}
.user_block button {
    display: block;
    margin-top: 10px;
}